.root {
  display: grid;
  gap: 20px;
}

.addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  gap: 30px;
  background-color: hsl(302, 58%, 37%);
  border-radius: 10px;

  &__icon {
    width: 30px;
  }
}

.form {
  display: grid;
  gap: 20px;

  &__block {
    position: relative;
    display: grid;
    gap: 10px;
  }

  &__input {
    width: 100%;
    padding: 10px 15px;
    line-height: 110%;
    background-color: hsla(302, 58%, 37%, 0.3);
    backdrop-filter: blur(35px);
    border-radius: 10px;

    &::placeholder {
      color: hsl(303, 30%, 56%);
    }
  }

  &__errorText {
    position: absolute;
    left: 15px;
    top: 100px;
    font-size: 20px;
  }

  &__addSong {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    gap: 30px;
    background-color: hsl(302, 58%, 37%);
    border-radius: 10px;
  }
}

.addSong {
  &__icon {
    width: 30px;
  }
}
