$pink: hsl(302, 58%, 37%);
$transparent-pink: rgba(128, 0, 128, 0.3);
$light-pink: hsl(303, 30%, 56%);
$bright-pink: rgb(229, 82, 202);
$violet: hsl(304, 75%, 17%);
$gray: darkgray;
$red: rgb(196, 20, 111);
