html,
body {
  padding: 0;
  margin: 0;
  background: url('~/public/images/abstract-design-purple-flowing-lines.jpg')
    no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
