@import 'colors.scss';
@import 'transitions.scss';

@mixin dekstop {
  @media (width >= 1510px) {
    @content;
  }
}

@mixin tablet {
  @media (width < 1510px) {
    @content;
  }
}

@mixin mobile {
  @media (width < 775px) {
    @content;
  }
}

@mixin event-selectors {
  @media (width >= 775px) {
    @content;
  }
}

@mixin icon-button-style {
  padding: 10px;
  border-radius: 10px;
  transition: $background;

  &:active {
    background-color: $red;
  }

  @include event-selectors {
    &:hover {
      background-color: $pink;
      backdrop-filter: blur(5px);
    }
  }

  @include tablet {
    padding: 5px;
  }

  &__icon {
    width: 45px;

    @include tablet {
      width: 30px;
    }

    @include mobile {
      width: 20px;
    }
  }
}

@mixin pop-up-window-style {
  z-index: 3;
  position: fixed;
  top: 150px;
  right: 50px;
  padding: 30px;
  width: 60%;
  border-radius: 10px;
  background-color: $violet;

  @include tablet {
    width: 90%;
  }

  @include mobile {
    top: 100px;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
  }
}

@mixin input-style {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid $transparent-pink;
  background-color: $transparent-pink;
  backdrop-filter: blur(35px);
  line-height: 110%;

  transition: $background-border;

  &::placeholder {
    color: $light-pink;
  }

  &:focus {
    border: 1px solid $bright-pink;
  }

  @include event-selectors {
    &:hover {
      background-color: $pink;
      backdrop-filter: blur(5px);
    }
  }

  @include mobile {
    padding: 10px;
    border-radius: 5px;
  }
}

@mixin errorText-style {
  position: absolute;
  left: 15px;
  top: 105px;
  font-size: 20px;

  @include tablet {
    top: 70px;
    font-size: 14px;
  }
}
