$background: background-color 300ms ease;
$background-border: background-color 300ms ease-in, border 300ms ease-in;
$transform-fill: transform 0.5s, fill 0.5s;
$height: height 300ms ease;
$opacity-width-padding: opacity 300ms ease, width 300ms ease, padding 300ms ease;
$none: none;
