@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/transitions.scss';

.app {
  width: 80%;
  margin: auto;
}

.title {
  margin-bottom: 50px;
  text-align: start;

  @include mobile {
    font-size: 25px;
  }
}

.informationBlock {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 25px;
  gap: 50px;
  background-color: $transparent-pink;
  backdrop-filter: blur(15px);
  font-size: 30px;

  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    font-size: 16px;
  }
}

.block {
  display: grid;
  gap: 10px;

  &__title {
    font-weight: 600;
    font-size: 50px;

    @include mobile {
      font-weight: 500;
      font-size: 20px;
    }
  }

  &__text {
    color: $gray;
  }
}

.button {
  float: right;
  display: flex;
  padding: 50px;
  border-radius: 25px;
  gap: 30px;
  background-color: $transparent-pink;
  backdrop-filter: blur(15px);
  font-size: 30px;
  transition: $background;

  &:hover {
    background-color: $pink;
  }

  &:active {
    background-color: $red;
  }

  @include mobile {
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    font-size: 20px;
  }

  &__icon {
    width: 30px;
    margin: auto;

    @include mobile {
      width: 20px;
    }
  }

  &__text {
    margin: auto;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
