@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';

.title {
  width: 90%;
  margin: 0 auto 50px;
  padding: 0 50px;
  text-align: start;

  @include tablet {
    margin: 0 auto 20px;
    padding: 0 20px;
    font-size: 30px;
  }

  @include mobile {
    font-size: 30px;
  }
}

.mainBlock {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 50px;
  font-size: 30px;

  @include tablet {
    justify-content: flex-start;
    font-size: 16px;
  }
  @include mobile {
    //margin: 0 auto 20px;
    padding: 0 20px;
  }
}

.mainBlock_twoColumn {
  gap: 50px;
}

.leftColumn {
  opacity: 0;
  width: 0%;
  height: 680px;
  padding: 50px 0;
  border-radius: 25px;
  background-color: $transparent-pink;
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: $opacity-width-padding;

  @include tablet {
    height: 480px;
    padding: 20px 0;
  }

  @include mobile {
    position: absolute;
    height: 480px;
    background-color: $violet;
    transition: $none;
  }
}

.leftColumn_visible {
  z-index: 1;
  opacity: 1;
  width: 35%;
  padding: 50px;

  @include tablet {
    top: 200px;
    left: 100px;
    width: 50%;
    padding: 20px;
  }

  @include mobile {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 80%;
    height: 420px;
    border-radius: 10px;
    transform: translateX(-50%);
  }
}

.rightColumn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 25px;
  background-color: $transparent-pink;
  backdrop-filter: blur(15px);

  @include tablet {
    padding: 20px;
  }

  @include mobile {
    border-radius: 10px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;

    @include tablet {
      gap: 10px;
    }
  }
}

.rightColumn_reduced {
  @include tablet {
    width: 100%;
  }
}

.addForm {
  @include icon-button-style;
}
