.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    gap: 30px;
    background-color: hsl(302, 58%, 37%);
    border-radius: 10px;
}
