@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/transitions.scss';

.form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__block {
    position: relative;
    display: grid;
    gap: 10px;
  }

  &__input {
    @include input-style;
  }

  &__errorText {
    @include errorText-style;
  }

  &__buttonsBlock {
    display: flex;
    grid-column: auto / span 2;
    gap: 20px;
  }

  &__button {
    padding: 20px 15px;
    border-radius: 10px;

    @include mobile {
      padding: 10px;
      border-radius: 5px;
    }
  }

  &__button_save {
    background-color: $pink;
    transition: $background;

    @include event-selectors {
      &:hover {
        background-color: $bright-pink;
      }
    }

    &:active {
      background-color: $red;
    }
  }

  &__button_delete {
    background-color: $light-pink;
    transition: $background;

    @include event-selectors {
      &:hover {
        background-color: $gray;
      }
    }

    &:active {
      background-color: $red;
    }
  }
}
