@import 'src/styles/mixins.scss';

.root {
  z-index: 1;
  display: grid;
  gap: 20px;
}

.form {
  display: grid;
  gap: 20px;

  &__block {
    position: relative;
    display: grid;
    gap: 10px;
  }

  &__input {
    width: 100%;
    padding: 15px;
    line-height: 110%;
    background-color: rgba(128, 0, 128, 0.4);
    backdrop-filter: blur(35px);
    border-radius: 10px;

    &::placeholder {
      color: hsl(303, 30%, 56%);
    }

    @include mobile {
      padding: 10px;
      border-radius: 5px;
    }
  }

  &__errorText {
    position: absolute;
    left: 15px;
    top: 100px;
    font-size: 20px;

    @include mobile {
      top: 63px;
      font-size: 14px;
    }
  }

  &__addSong {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    gap: 30px;
    white-space: nowrap;
    background-color: hsl(302, 58%, 37%);
    border-radius: 10px;

    @include mobile {
      padding: 10px;
      border-radius: 5px;
    }
  }
}

.addSong {
  &__icon {
    width: 30px;

    @include mobile {
      width: 20px;
    }
  }
}
