@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/transitions.scss';

.root {
  z-index: 1;
  display: grid;
  gap: 20px;
}

.form {
  display: grid;
  gap: 20px;

  &__block {
    position: relative;
    display: grid;
    gap: 10px;
  }

  &__input {
    @include input-style;
  }

  &__errorText {
    @include errorText-style;
  }

  &__addSong {
    text-align: center;
    width: 100%;
    padding: 20px 15px;
    gap: 30px;
    white-space: nowrap;
    background-color: $transparent-pink;
    border-radius: 10px;
    transition: $background;

    &:hover {
      background-color: $pink;
    }

    &:active {
      background-color: $red;
    }

    @include mobile {
      padding: 10px;
      border-radius: 5px;
    }
  }
}
