.app {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  color: azure;
  flex: 1;
  background: url('~/public/images/abstract-design-purple-flowing-lines.jpg')
    no-repeat center center;
  background-size: cover;
  font-size: 50px;
}
